Link to signature-algorithms - page does not exist

Hi,

Inside point `2.1.4.  algorithm` you can find this link : http://www.iana.org/assignments/signature-algorithms with valid values for this parameter. The problem is that this link is showing that page does not exist.

Can anyone provide list of these valid values?

Does anyone know what whether or not there is a new valid URL to this page or alternatively what was the content of that page? 

> Inside point `2.1.4. algorithm` you can find this link : http://www.iana.org/assignments/signature-algorithms with valid values for this parameter. The problem is that this link is showing that page does not exist.
> Can anyone provide list of these valid values?

That registry won't be created until after the document is a valid RFC... if ever... the registry values will probably be updated to be date-anchored values like "RsaHttpSignature2018" The current valid values are listed here:

https://w3c-dvcg.github.io/http-signatures/#sa-registry

the link actually should be:
https://w3c-dvcg.github.io/http-signatures/#hsa-registry

also @msporny the links for the signing/ hashing algorithm types are anchor tags:
https://w3c-dvcg.github.io/http-signatures/#RFC6234
https://w3c-dvcg.github.io/http-signatures/#RFC8017
however these is no anchor in the document currently.

I am seeing this though:

```
<!DOCTYPE rfc PUBLIC "-//IETF//DTD RFC 2629//EN" "https://xml2rfc.tools.ietf.org/authoring/rfc2629.dt     d" [
   3   <!ENTITY rfc2119 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.2119.xml">
   4   <!ENTITY rfc2617 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.2617.xml">
   5   <!ENTITY rfc3230 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.3230.xml">
   6   <!ENTITY rfc3447 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.3447.xml">
   7   <!ENTITY rfc4648 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.4648.xml">
   8   <!ENTITY rfc5246 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.5246.xml">
   9   <!ENTITY rfc6234 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.6234.xml">
  10   <!ENTITY rfc6376 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.6376.xml">
  11   <!ENTITY rfc6749 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.6749.xml">
  12   <!ENTITY rfc7230 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.7230.xml">
  13   <!ENTITY rfc7235 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.7235.xml">
  14   <!ENTITY rfc8017 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.8017.xml">
  15   <!ENTITY rfc8032 SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.8032.xml">
  16   <!ENTITY jwa SYSTEM "https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-ietf-jos     e-json-web-algorithms-20.xml">
  17 ]>
```
I am not familiar with rfc, but is that supposed to embed the links to those encryption documents into the document somehow?

@msporny signature-algorithms is mentioned here too https://tools.ietf.org/html/draft-pardue-quic-http-mcast-04#section-3.9 